/* .LeftScroll {
    position: absolute;
    font-weight: 900;
    text-align: center;
    font-size: 5vw;
    background-color: rgba(201, 201, 201, 0.829);
    border-radius: 0px;
    left: 1%;
    color: rgb(83, 83, 83);
    justify-content: center;
    align-items: center;
    margin: auto;
    display: none;
}

.rightScroll {
    position: absolute;
    font-weight: 900;
    text-align: center;
    font-size: 5vw;
    background-color: rgba(201, 201, 201, 0.829);
    border-radius: 0px;
    right: 0;
    color: rgb(83, 83, 83);
    justify-content: center;
    align-items: center;
    margin: auto;
    display: none;
    transition: 0.4s;

}

.scrollTemp:hover .rightScroll {
    display: block;
}
.scrollTemp:hover .LeftScroll {
    display: block;
} */


.CoursesFolder {
    background-color: rgb(11, 43, 102);
    padding: 2%;

}

.mainCDiv {
    /* border-radius: 15px; */
    /* box-shadow: 1px 1px 15px 5px rgb(124, 122, 122); */
    margin: 6%;
    margin-top: 4%;
    background-color: white;

}

.HeadingDiv {
    background-color: rgb(11, 43, 102);
    color: white;
    padding: 1vh;
}

.cardC {
    background-color: white;
    margin-top: 20px;
    text-align: center;
    margin-bottom: 1vh;
    /* margin-left: 35px; */
    /* margin-right: 35px; */
    min-width: 200px;
    min-height: 55 0px;
    /* box-shadow: 1px 1px 15px 5px rgb(150, 149, 149); */

}

.cardBtn {
    background-color: white;
    outline: none;
    border: none;
}

.textBlock {
    justify-content: center;
    align-items: center;
    font-family: 'Josefin Sans', sans-serif;
    font-size: medium;
    padding: 5%;
    text-align: justify;
    margin: 2%;
    background-color: rgb(196, 195, 195);
    max-height: 500px;
    overflow-y: scroll;
}

.textBlock::-webkit-scrollbar {
    width: 6px;
    height: 1px;
}


.scrollTemp {
    display: flex;
    align-items: center;
    overflow-x: scroll;
    background-color: rgb(10, 43, 102);
}

.scrollTemp img {
    box-shadow: 1px 1px 10px gray;
    max-width: 8vw;
    min-width: 8vw;
    max-height: 52%;
    margin: 1%;
    border-radius: 50%;
    transition: 0.3s;
    scale: 0.9;
    background-color: white;

}

.scrollTemp img:hover {
    transition: 0.3s;
    box-shadow: 4px 4px 100px rgb(69, 120, 182);

}


.scrollTemp::-webkit-scrollbar {
    width: 50px;
    height: 10px;
}

.scrollTemp::-webkit-scrollbar-thumb {
    background-color: white;
    border-radius: 50%;
    width: 50px;
    height: 10px;
}

.scrollTemp::-webkit-scrollbar-thumb:hover {
    background-color: white;
    border-radius: 50%;
    width: 50px;
    height: 10px;
}

.scrollTemp::-webkit-scrollbar-track {
    background-color: rgb(10, 43, 102);
    border-radius: 50%;
    width: 50px;
    height: 10px;
}

.scrollTemp button {
    outline: none;
    border: none;
    border-radius: 50%;
    margin-right: 1.2%;
    /* padding: 1%; */
}

.myBtn {
    background-color: rgb(11, 43, 102);
    /* border: 2px solid black; */
}

.scrollTemp button:active {
    scale: 1.5;
    transform: rotatey(360deg);
    transition: 0.5s;
}

.cardBtn:active+.textBlock {
    display: none;
}

.mainCDiv button:active .cardC img {
    transform: scale(24);
    transition: 1s;
}

#imgBelowBtn:active im {
    transform: scale(24);
    transition: 1s;
}

#imgBelowBtn:active+.textBlock {
    display: none;
}