.MainCardDivP {
    display: flex;
    flex-direction: row;
    /* margin-top: 5vh; */
    overflow-x: scroll;
    background-color: rgb(11, 43, 102);
}



.cardDiv {
    background-color: white;
    margin-top: 15px;
    text-align: center;
    padding: 1%;
    color: rgb(70, 70, 70);
    box-shadow: 1px 1px 15px 5px rgb(47, 47, 47);
    border-radius: 15px;
    min-width: 300px;
    min-height: 55 0px;
    scale: 0.9;
    transition: 0.2s;
}

.cardDiv:active {
    transform: rotateY(180deg);
}

.MainCardDivP::-webkit-scrollbar {
    width: 10%;
    height: 10px;
}

.MainCardDivP::-webkit-scrollbar-thumb {
    background-color: white;
    border-radius: 50%;
    width: 10%;
    height: 10px;
}

.MainCardDivP::-webkit-scrollbar-thumb:hover {
    background-color: white;
    border-radius: 50%;
    width: 10%;
    height: 10px;
}

.MainCardDivP::-webkit-scrollbar-track {
    background-color: rgb(46, 88, 162);
    border-radius: 50%;
    width: 10%;
    height: 10px;
}

.imageDivP img {
    width: 50%;
    border-radius: 50%;
}

.imageDivP {
    margin: auto;
}

.textFIelds p {
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(78, 78, 78);
    font-size: medium;
}

#itemHead {
    font-size: x-large;
    color: rgb(33, 33, 33);
    font-weight: 600;
}