.MainCardDivP {
    display: flex;
    flex-direction: row;
    overflow-x: scroll;
    background-color: rgb(11, 43, 102);
    margin-bottom: -4%;

}



.cardDiv {
    margin: 3%;
    padding: 1%;
    /* border: 5px solid black; */
    min-width: 50vh;
    text-align: center;
    box-shadow: 1px 1px 10px black;
    background-color: white;
}

.imageDivP img {
    width: 50%;
    border-radius: 50%;
}

.imageDivP {
    margin: auto;
}

.textFIelds p {
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(78, 78, 78);
    font-size: medium;
}

#itemHead {
    font-size: x-large;
    color: rgb(33, 33, 33);
    font-weight: 600;
}