.myClr {
    background-color: rgb(11, 43, 102);
    color: white;
}

.mynavBar:hover li {
    filter: blur(4px);
    transition : 0.2s
}
.mynavBar li:hover{
    filter: blur(0px);
    transition : 0.2s
}

.mini {
    padding: -10px;
    margin-top: -20px;
    font-family: cursive;
    font-style: italic;
    font-size: 10px;
    text-align: right;
    color: white;
}

.title {
    /* font-size: px; */
    font-weight: 900;
    font-family: 'Josefin Sans', sans-serif;
    /* font-family: 'Lora', serif; */
    /* font-family: 'Roboto', sans-serif; */
}

.restOptions {
    font-family: 'Josefin Sans', sans-serif;
    margin-right: 10%;
    font-weight: 550;
    font-size: 15px;
    display: flex;
    float: right;
    margin-bottom: -1vw;
}

.itemInside {
    letter-spacing: 1px;
    padding-left: 2vw;
    color: white;

}