#advList img {
  box-shadow: 2px 2px 15px gray;
  margin: 2vw;
  margin-top: 0px;
  z-index: 1;
  border-radius: 15%;
  transition: 0.3s;

}

.AdvParentDiv ul {
  scroll-behavior: smooth;
  padding-top: 1%;
}

#advList {
  display: flex;
  flex-direction: row;
  overflow-x: scroll;
  /* margin-top: -3vw; */
  /* margin-bottom: -3vw; */
  /* margin-left: 6%; */
}

#advList li {
  list-style: none;
}

#advList li img {
  min-width: 120px;
  max-width: 120px;
  min-height: 90px;
  max-height: 90px;
}


#advList::-webkit-scrollbar {
  width: 50%;
  height: 2px;
}

#advList::-webkit-scrollbar-thumb {
  background-color: rgb(38, 84, 162);
  border-radius: 50%;
  width: 50%;
  height: 2px;
  scroll-behavior: smooth;
}

#advList::-webkit-scrollbar-thumb:hover {
  background-color: rgb(10, 43, 102);
  width: 50%;
  height: 2px;
}

#advList::-webkit-scrollbar-track {
  background-color: #f1f1f1;
  border-radius: 50%;
  width: 50%;
  height: 2px;
}

.startBtn button {
  font-weight: 900;
  width: 100%;
  height: 100%;
  font-size: 35px;
  border-radius: 10%;
  outline: none;
  border: none;
  color: white;
  background-color: rgb(10, 43, 102);
  text-align: center;
  color: white;
  margin-left: 10%;
}

.endBtn button {
  font-weight: 900;
  width: 100%;
  height: 100%;
  font-size: 35px;
  border-radius: 10%;
  outline: none;
  border: none;
  color: white;
  background-color: rgb(10, 43, 102);
  text-align: center;
  color: white;
}

.AdvParentDiv {
  /* border: 1px solid black; */
  margin-top: -10px;
  margin-bottom: -10px;
}
/* .AdvJs{
  display: flex;
  margin: auto;
} */