.mainDivCourse {
    display: flex;
    flex-direction: row;
    /* margin-top: 5vh; */
    overflow-x: scroll;
    background-color: rgb(11, 43, 102);

}

.HeadingDiv {
    background-color: rgb(11, 43, 102);
    color: white;
    padding: 1vh;
}

.cardCourse {
    background-color: white;
    margin-top: 15px;
    text-align: center;
    padding: 1%;
    color: rgb(70, 70, 70);
    box-shadow: 1px 1px 15px 5px rgb(47, 47, 47);
    /* border-radius: 15px; */
    margin-bottom: 3vh;
    margin-left: 35px;
    margin-right: 35px;
    min-width: 300px;
    min-height: 55 0px;
    scale: 0.9;
    transition: 0.2s;
}

.cardCourse:hover {
    position: relative;
    scale: 1;
    transition: 0.2s;
}

#cHeading {
    padding: 3vh;
    text-align: center;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 3.5rem;
    font-weight: 700;
    letter-spacing: 1px;
    word-spacing: 3px;
    margin-top: 0vh;
}

#miniTextCHeading {
    text-align: center;
    font-family: 'Josefin Sans', sans-serif;
    margin-top: -10px;
    letter-spacing: 0.7px;
    word-spacing: 0.7px;
}

.courseImg {
    width: 100%;
}

.Ctitle {
    font-size: xx-large;
    font-weight: 900;
    font-family: 'Josefin Sans', sans-serif;
    letter-spacing: 1px;
}

.mybtn {
    background-color: rgb(38, 84, 162);
    outline: none;
    border: none;
    width: 30%;
    font-size: x-large;
    font-weight: 500;
    font-family: 'Josefin Sans', sans-serif;
    padding: 2%;
    border-radius: 2rem;
    color: white;
    transition-duration: 0.1s;
}


.mybtn:hover {
    background-color: rgb(10, 43, 102);

}

.mybtn:active {
    width: 100%;
    font-size: x-large;
    font-weight: 900;
    transition-duration: 0.1s;
    background-color: rgb(10, 43, 102);
}

.mainDivCourse::-webkit-scrollbar {
    width: 10%;
    height: 10px;
}

.mainDivCourse::-webkit-scrollbar-thumb {
    background-color: white;
    border-radius: 50%;
    width: 10%;
    height: 10px;
}

.mainDivCourse::-webkit-scrollbar-thumb:hover {
    background-color: white;
    border-radius: 50%;
    width: 10%;
    height: 10px;
}

.mainDivCourse::-webkit-scrollbar-track {
    background-color: rgb(46, 88, 162);
    border-radius: 50%;
    width: 10%;
    height: 10px;
}

.exploreMore {
    text-align: center;
    width: 100%;
    background-color: white;
    padding: 3%;
    font-size: 1.5rem;
    font-weight: 700;
    color: rgb(50, 50, 50);
    margin: auto;
    border-radius: 10px;
    box-shadow: inset -5px -5px 10px 4px rgb(58, 58, 58);
}

.exploreMore:hover {
    background-color: rgb(234, 234, 234);
}

#exploreButton {
    outline: none;
    border: none;
    background-color: rgb(10, 43, 102);
    margin: auto;
    border-radius: 10px;
    transition: 0.1s;
}

#exploreButton:hover {
    scale: 1.2;
    transition: 0.1s;
}

#exploreButton:active {
    scale: 1.1;
    transition: 0.1s;
}

.enclosedButton {
    display: flex;
    background-color: rgb(10, 43, 102);
    padding: 2%;
}

.enclosedButton img {
    width: 100%;
    margin: auto;

}


.twoColDiv,
.eightCOlDiv {
    display: flex;
    /* border: 1px solid white; */
}