#moveToTopBtn {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background-color: rgb(15, 101, 229);
    outline: none;
    border: none;
    scale: 0.8;
    transition: 0.2s;
    font-size: 100px;
    font-weight: 900;
    color: white;
    /* background-image: url('https://img.freepik.com/free-vector/leadership-business-concept-with-arrow-flying-through-clouds_1017-10552.jpg?w=826&t=st=1696623140~exp=1696623740~hmac=09bf2df7ceb68b1836f10b0bb54f3986e7e784e7ec98815232cad60faed5b401'); */
    /* background-size: 140%; */
    /* background-position: -20px -10px; */
}

.btnDiv {
    position: fixed;
    transform: translate(-50%, -50%);
    left: 90%;
    top: 90%;
    z-index: 1;

}

#moveToTopBtn:active {
    scale: 1;
    background-color: rgb(11, 68, 154);

}

#copyTextBtn {
    font-size: medium;
    background-color: rgb(148, 148, 148);
    outline: none;
    border: none;
    transform: translate(-50%, 0%);
    top: 60%;
    position: relative;
    left: 90%;
    /* border-radius: 10px; */
}

#copyTextBtn:click {
    background-color: rgb(80, 80, 80);
    color: white;
}

.DataSection {
    background-color: rgb(10, 43, 102);
    /* border: 2px solid black; */
}

#div1Text {
    font-family: 'Josefin Sans', sans-serif;
    font-size: 55px;
    color: rgb(49, 49, 49);
    letter-spacing: 2px;
    word-spacing: 4px;
    font-weight: 600;
    margin-left: 6vw;
    margin-top: 0.5vw;

}

.mainDivLanding {
    /* background-color: rgb(11, 43, 102); */
    background-color: whitesmoke;
    overflow: hidden;
    color: rgb(49, 49, 49);
    border: 1px solid black;
    scale: 0.9;
}

hr {
    background-color: white;
}

.codeDiv {
    /* border: 2px solid black; */
    background-color: rgb(197, 196, 196);
    padding: 2% 0% 1% 3%;
}
#moveToTopBtn p{
    text-align: center;
    justify-content: center;
    align-items: center;
    margin: auto;
    font-family:'Courier New', Courier, monospace;
}
#copyTextBtn::before{
content: "Copy";
}
#copyTextBtn:active:before{
content: "Code Copied";
}