.cardsSection {
    margin-top: 2vw;

}

.cardLayout {
    display: flex;
    flex-direction: row;
    margin-top: 0px;
    padding-top: 0vw;
    /* overflow: scroll; */
    justify-content: center;
}

.mainCard {
    margin: 2vw;
    box-shadow: 1px 1px 25px gray;
    /* border-radius: 5%; */
    transition: 0.3s;
    scale: 0.9;
    background-color: white;
}

.mainCard:hover {
    position: relative;
    transition: 0.3s;
    scale: 1.03;
    box-shadow: 1px 1px 20px rgb(2, 52, 126);

}

#titleText {
    font-family: 'Josefin Sans', sans-serif;
    font-size: 130%;
    font-weight: 700;
    text-align: center;
}

#pic {
    width: 100%;
}

#mainText {
    font-family: 'Josefin Sans', sans-serif;
    font-size: 90%;
    text-align: center;
}

#SpecialOfferLinks {
    color: black;
    text-decoration: none;
}